.titel {
    color: red;
    text-align: center;
}

.rezept { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    border: 1px solid black; 
    border-radius: 10px;
    
} 
.rezept-part { 
    margin: 30px; 
    border: 1px solid red; 
    border-radius: 10px;
}

.inside-text {
    margin-left: 5%;
}

.bilderlink {
    margin-left: 90%;
    margin-bottom: 10%;
}

.kaesekuchen-bild {
    width: 50%;
}