.titel {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.rezept { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    border: 1px solid black; 
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;

} 

.inhaltsverzeichnis { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-gap: 10px; 
    border: 1px solid black; 
    border-radius: 10px;
    margin-top: 20%;
} 

.inhaltsverzeichnis-text {
    text-align: center;
    margin: 2%;
}

.rezept-part { 
    margin: 30px; 
    border: 1px solid red; 
    border-radius: 10px;
}

.inside-text {
    margin-left: 5%;
}

.bilderlink {
    margin-left: 90%;
    margin-bottom: 10%;
}

.kaesekuchen-bild {
    width: 50%;
}

#fname {
    margin: 5%;
    width: 60%;
}